<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Category List</title>
</head>
<body>
    <h1>Category List</h1>
    <table>
        <thead>
            <tr>
                <th>Category ID</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="category : ${categories}">
                <td th:text="${category.categoryId}"></td>
                <td th:text="${category.name}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/addcategory}">Add New Category</a>
</body>
</html>
